.plugin-map-dialog-en .column-setting-item {
  position: relative;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  display: flex;
  border-radius: 4px;
}

.plugin-map-dialog-en .column-setting-item:hover { 
  background: #f0f0f0;
}

.plugin-map-dialog-en .column-can-drop {
  background: #e9e9e9;
}

.plugin-map-dialog-en .drag-column-handle {
  color: #c2c2c2;
  font-size: 14px;
  cursor: grab;
}

.plugin-map-dialog-en .map-cn-column-switch {
  flex: 1;
  display: flex;
  padding-left: 10px;
  cursor: pointer;
  border-radius: 2px;
}


.plugin-map-dialog-en .custom-switch {
  width: 100%;
  justify-content: space-between;
  cursor: pointer;
}

.plugin-map-dialog-en .custom-switch .custom-switch-description {
  width: 192px;
  margin: 0;
  padding-right: 5px;
}

.plugin-map-dialog-en .custom-switch .dtable-font {
  -webkit-transform: scale(.8);
  transform: scale(.8);
  display: inline-block;
  line-height: 24px;
  margin-right: 8px;
  color: #666;
}

.plugin-map-dialog-en .custom-switch-indicator {
  width: 22px;
  height: 12px;
  border-radius: 6px;
  margin-right: 10px;
}

.plugin-map-dialog-en .custom-switch-input:checked~.custom-switch-indicator:before {
  left: 12px;
}

.plugin-map-dialog-en .custom-switch-indicator:before {
  height: 8px;
  width: 8px;
}
