.mobile-map-container {
  display: flex;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1000;
  left: 0;
  top: 0;
  flex-direction: column;
}

.dtable-map-plugin-title {
  display: flex;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid #e9ecef;
}

.title {
  line-height: 24px;
  display: flex;
  height: 24px;
  box-sizing: content-box;
  padding: 13px 16px;
}

.dtable-map-plugin-logo {
  width: 24px;
  height: 24px;
  display: inline-block;
}

.dtable-map-plugin-name {
  min-width: 75px;
  line-height: 24px;
  margin-left: 8px;
  font-weight: 700;
  font-size: 14px;
}

.map-tool-container {
  padding: 0 16px;
}

.title-button {
  padding: 13px 0;
  margin-left: 15px;
  line-height: 24px;
  display: inline-block;
  font-size: 14px;
}

.map-wrapper {
  height: calc(100% - 50px);
  width: 100%;
}

.map-container {
  height: 100%;
}

.setting {
  position: fixed;
  z-index: 1000;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  left: 0;
  top: 0;
  background-color: #F3F3F3;
}

.dtable-map-plugin-header-title {
  margin-bottom: 0;
  color: #333;
  line-height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dtable-map-plugin-header-btn {
  min-width: 75px;
  padding: 13px 16px;
  line-height: 24px;
  color: #888;
}

.dtable-map-plugin-header-btn:first-child {
  text-align: left
}

.dtable-map-plugin-header-btn:last-child {
  text-align: right;
}

.dtable-map-plugin-header-btn-highlight {
  color: rgb(240, 159, 63);
}

.dtable-map-plugin-setting-warpper {
  width: 100%;
  height: calc(100% - 50px);
  overflow: auto;
}

.mobile-settting-item {
  margin-top: 16px;
  font-size: 14px;
}

.mobile-setting-title {
  margin-bottom: 5px;
  padding: 0 16px;
  color: #888;
  display: flex;
  justify-content: space-between;
}

.mobile-selector {
  background-color: #ffffff;
  border-bottom: 1px solid #e9e9e9;
  border-top: 1px solid #e9e9e9;
  height: 52px;
  display: flex;
  padding: 0 16px;
  user-select: none;
  box-sizing: border-box;
  line-height: 50px;
  justify-content: space-between;
  color: #202428;
}

.mobile-selector:last-child {
  border-bottom: 1px solid #e9e9e9;
}

.mobile-select-options {
  border-bottom: 1px solid #e9e9e9;
  border-top: 1px solid #e9e9e9; 
  color: #202428;
}

.mobile-select-option {
  height: 51px;
  padding-left: 16px;
  background-color: #ffffff;
  box-sizing: border-box;
}

.mobile-selector-option-wrapper {
  width: 100%;
  padding-right: 16px;
  border-bottom: 1px solid #e9e9e9;
  display: flex;
  justify-content: space-between;
  height: 51px;
  line-height: 50px; 
}

.mobile-select-option:last-child .mobile-selector-option-wrapper {
  border-bottom: none;
}

.mobile-selector-icon {
  color: #bcbcbc;;
}

.selected-selector {
  background-color: #dddddd;
  user-select: none;
  transition: background-color .2s;
}

:global(.BMapLabel .mobile-label-arrow) {
  position: absolute;
  bottom: 3px;
  transform: rotate(180deg) translate(50%, 100%);
  left: 50%;
  top: 2px;
  color: #ffffff;
  display: inline-block;
  height: 9px;
  line-height: 9px;
}