.plugin-map-dialog-en {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  width: 100%;
  min-height: 0;
  background-color: #fff;
  border-radius: 12px 12px 0 0;
  box-shadow: 0 -1px 12px rgb(0 0 0 / 30%);
}

.plugin-map-dialog-en .dtable-map-plugin-title {
  display: flex;
  align-items: center;
  height: 48px;
  min-height: 48px;
  padding: 0 16px;
  background-color: #fff;
  border-bottom: 1px solid #e7eaec;
  border-radius: 12px 12px 0 0;
}

.plugin-map-dialog-en .full-screen-active {
  background-color: #e0e0e0;
  border-radius: 2px;
  color: #404040;
}

.plugin-map-dialog-en .dtable-map-plugin-title .modal-title {
  line-height: 23px;
  display: flex;
  height: 23px;
}

.plugin-map-dialog-en .dtable-map-plugin-title .dtable-map-plugin-name {
  line-height: 23px;
  font-weight: 600;
}

.plugin-map-dialog-en .plugin-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 80px 0 0;
}

.plugin-map-dialog-en .plugin-logo .plugin-logo-icon {
  width: 20px;
  height: 20px;
  margin-right: 4px;
}

.plugin-map-dialog-en .map-operators {
  margin-left: 80px;
}

.map-plugin-en-tabs {
  display: flex;
  flex: 1 1;
  height: 100%;
  font-size: 14px;
  font-weight: 500;
  overflow: hidden;
}

.plugin-map-dialog-en .dtable-map-plugin .map-container {
  height: 100%;
}

.plugin-map-dialog-en .dtable-map-plugin-title .map-operator {
  display: inline-block;
  width: 24px;
  height: 24px;
  color: #000;
  opacity: .5;
  text-align: center;
  cursor: pointer;
}

.plugin-map-dialog-en .dtable-map-plugin-title .map-operator:hover {
  opacity: .75;
}

.plugin-map-dialog-en .btn-margin-right {
  margin-right: 0.25rem;
}

.plugin-map-dialog-en .dtable-map-plugin {
  position: relative;
  height: 100%;
}

.plugin-map-dialog-en .map-plugin-modal-body-full-screen .map-container {
  height: calc(100% - 0px);
}

.plugin-map-dialog-en {
  position: relative;
}

.plugin-map-dialog-en .dtable-plugin-location-settings {
  position: absolute;
  z-index: 1000;
  height: 100%;
  width: 300px;
  background-color: #ffffff;
  right: 0;
  top: 0;
  box-shadow: 0 10px 10px 3px rgba(0,0,0,.2);
  display: flex;
  flex-direction: column;
}

.plugin-map-dialog-en .dtable-plugin-location-settings-header {
  padding: 0 20px;
}

.plugin-map-dialog-en .dtable-plugin-location-settings-header .location-settings-header-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid #e4e4e4;
}

.plugin-map-dialog-en .btn-close {
  font-weight: 700;
}

.plugin-map-dialog-en .dtable-plugin-location-settings-header .btn-close:hover {
  opacity: .8;
}

.plugin-map-dialog-en .location-settings-header-container .dtable-font {
  color: #000;
  opacity: 0.5;
}

.plugin-map-dialog-en .setting-header-title {
  font-weight: 600;
}

.plugin-map-dialog-en .dtable-plugin-location-settings-parameter {
  border-bottom: 1px solid #e4e4e4;
  height: 100%;
  overflow: auto;
  padding: 14px 20px;
}

.plugin-map-dialog-en .dtable-plugin-location-settings-parameter:last-child {
  border-bottom: none;
}

.plugin-map-dialog-en .dtable-plugin-location-settings-title {
  margin-bottom: 10px;
}

.plugin-map-dialog-en .dtable-plugin-location-settings-item {
  margin-bottom: 14px;
}

.plugin-map-dialog-en .plugin-label-name {
  margin-top: 5px;
}

.map-container .leaflet-bottom.leaflet-right .leaflet-control-attribution.leaflet-control {
  display: none;
}

.map-container .leaflet-popup-content-wrapper {
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.15) 1px 2px 1px;
  display: block;
  cursor: inherit;
  border: none;
  background-color: rgb(255, 255, 255);
  font: 500 12px arial, sans-serif;
  z-index: 80;
  user-select: none;
}

.map-container .leaflet-popup-content-wrapper .leaflet-popup-content {
  margin: 0;
  padding: 3px 10px;
}

.map-container .leaflet-popup-close-button {
  display: none;
}

.map-container .leaflet-popup-content p {
  margin: 8px 0;
  font-weight: 600;
  line-height: 1.5;
}

.map-en-direct-shown-label-container {
  margin: 2px;
}

.plugin-en-tooltip {
  padding: 3px 10px;
  font-size: 12px;
  color: #212529;
  font-weight: 500;
}

.plugin-en-tooltip::before {
  display: none;
}

.plugin-en-tooltip .single-select-formatter {
  color: #ffffff;
  display: inline-block;
  padding: 3px 10px;
  border-radius: 14px;
  line-height: 14px;
}

.plugin-map-dialog-en .address-type-container {
  display: flex;
  height: 36px;
  flex-direction: row;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.plugin-map-dialog-en .selected-address-type-item {
  box-shadow: 0 0 0 1px #f19645;
  color: #f19645;
  background-color: rgba(229,161,82,.1);
}

.plugin-map-dialog-en .address-type-item {
  flex: 1 1;
  text-align: center;
  line-height: 34px;
  padding: 0 5px;
  cursor: pointer;
  position: relative;
  font-weight: 500;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}

.plugin-map-dialog-en .address-type-item:hover {
  white-space: pre;
  overflow: visible;
}

.plugin-map-dialog-en .address-type-item:first-child {
  border-radius: 4px 0 0 4px;
}

.plugin-map-dialog-en .address-type-item:last-child {
  border-radius: 0 4px 4px 0;
}

.plugin-map-dialog-en .setting-divider {
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 14px;
}

 .map-plugin-custom-image-container {
  padding: 4px;
  background: #fff;
  width: 80px;
  height: 80px;
  cursor: default;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%);
  position: relative;
}

.map-plugin-custom-image-number {
  position: absolute;
  right: -15px;
  top: -8px;
  padding: 0 12px;
  background: #20AD7E;
  color: #fff;
  border-radius: 10px;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
}

.map-plugin-custom-image-container .plugin-map-image-label-arrow {
  position: absolute;
  bottom: 5px;
  transform: translate( -50%, 100%);
  left: 50%;
  color: #fff;
  display: inline-block;
  line-height: 16px;
  height: 16px;
}

.map-plugin-empty-custom-image-wrapper {
  width: 72px;
  height: 72px;
  background: #efefef
}

.leaflet-div-icon {
  border: none;
}

.plugin-map-en-loading {
  padding-top: 50px;
}

.map-single-select-formatter {
  color: #3d1e1e;
  display: inline-block;
  padding: 3px 10px;
  border-radius: 14px;
}

.plugin-label-arrow {
  position: absolute;
  bottom: 3px;
  transform: translate(-50%, 100%);
  left: 50%;
  color: #ffffff;
  display: inline-block;
  height: 9px;
  line-height: 9px;
}

.row-cell-empty {
  height: 8px;
  width: 32px;
  display: inline-block;
  background-color: #f1f1f1;
  border-radius: 4px;
}

.plugin-map-dialog-en .plugin-map-show-location {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* remove dtable switch  */
.plugin-map-dialog-en .plugin-map-show-location .custom-switch {
  display: unset;
  position: relative;
}

.plugin-map-dialog-en .plugin-map-show-location .custom-switch-indicator {
  position: absolute;
  top: 50%;
  right: -6px;
  transform: translateY(-50%);
}

.control-panel {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  z-index: 2001;
  left: 3px;
  top: 90px;
}

.arrow {
  border: none;
  position: absolute;
}

.sector {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  clip-path: polygon(50% 50%, 0 0, 100% 0);
  cursor: pointer;
}

.sector:hover {
  background-color: #aaa;
  opacity: 0.2;
}

.right-hover {
  transform: rotate(90deg);
}

.down-hover {
  transform: rotate(180deg);
}

.left-hover{
  transform: rotate(270deg);
}

#up-arrow {
  left: 20px;
  top: 1.5px;
}

#down-arrow {
  left: 20px;
  top: 25px;
}

#left-arrow {
  left: 6.5px;
  top: 13px;
}
#right-arrow {
  left: 31.5px;
  top: 13px;
}

/* Unicode */
#up-arrow::before {
  content: '\2191'; 
}
#down-arrow::before {
  content: '\2193'; 
}

#left-arrow::before {
  content: '\2190'; 
}

#right-arrow::before {
  content: '\2192'; 
}


.dtable-icon-current-location:before {
  content: "\e727";
}

.plugin-leaflet-geolocation-control {
  background-color: #ffffff;
  box-shadow: 0 0 4px rgb(0 0 0 / 12%);
  border-radius: 4px;
  text-align: center;
  color: #212529;
  inset: auto 10px 20px auto;
}

.plugin-leaflet-geolocation-control-loading {
  opacity: 0.7;
}

.plugin-leaflet-geolocation-control:hover {
  background-color: #f5f5f5;
}

