.plugin-map-dialog-en .map-plugin-modal-body-full-screen,
.plugin-map-dialog-en .modal-content {
  height: 100%;
}

.plugin-map-dialog-en .dtable-map-plugin-title .modal-title {
  line-height: 23px;
  display: flex;
  height: 23px;
}

.plugin-map-dialog-en .dtable-map-plugin-title .dtable-map-plugin-name {
  line-height: 23px;
  font-weight: 600;
}

.plugin-map-dialog-en .dtable-map-plugin-title .dtable-map-plugin-logo {
  width: 23px;
  height: 23px;
  margin-right: 8px;
} 

.plugin-map-dialog-en .map-plugin-modal-body {
  padding: 0;
  min-height: 500px;
}

.plugin-map-dialog-en .dtable-map-plugin .map-container {
  height: 500px;
}

.plugin-map-dialog-en .dtable-map-plugin {
  position: relative;
  height: 100%;
}

.plugin-map-dialog-en .map-plugin-modal-body-full-screen .map-container {
  height: calc(100% - 0px);
}

.plugin-map-dialog-en {
  position: relative;
}

.plugin-map-dialog-en .dtable-plugin-location-settings {
  position: absolute;
  z-index: 1000;
  height: 100%;
  width: 300px;
  background-color: #ffffff;
  right: 0;
  top: 0;
  color: #000000;
  box-shadow: 0 10px 10px 3px rgba(0,0,0,.2);
  display: flex;
  flex-direction: column;
}

.plugin-map-dialog-en .dtable-plugin-location-settings-header {
  padding: 0 20px;
}

.plugin-map-dialog-en .dtable-plugin-location-settings-header .location-settings-header-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid #e4e4e4;
}

.plugin-map-dialog-en .dtable-plugin-location-settings-header .setting-header-title {
  flex: 1 1;
  font-size: 1rem;
  font-weight: 700;
}

.plugin-map-dialog-en .dtable-plugin-location-settings-header .btn-close {
  height: 24px;
  width: 24px;
  text-align: center;
  cursor: pointer;
  color: #000;
  opacity: .5;
  font-weight: 700;
}

.plugin-map-dialog-en .dtable-plugin-location-settings-header .btn-close:hover {
  opacity: .8;
}

.plugin-map-dialog-en .dtable-plugin-location-settings-parameter {
  font-size: 13px;
  border-bottom: 1px solid #e4e4e4;
  height: 100%;
  overflow: auto;
  padding: 14px 20px;
}

.plugin-map-dialog-en .dtable-plugin-location-settings-parameter:last-child {
  border-bottom: none;
}

.plugin-map-dialog-en .dtable-plugin-location-settings-title {
  margin-bottom: 3px;
  font-weight: 500;
}

.plugin-map-dialog-en .dtable-plugin-location-settings-item {
  margin-bottom: 14px;
}

.plugin-map-dialog-en .plugin-label-name {
  margin-top: 5px; 
}

.map-container .leaflet-bottom.leaflet-right .leaflet-control-attribution.leaflet-control {
  display: none;
}

.map-container .leaflet-popup-content-wrapper {
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.15) 1px 2px 1px;
  display: block;
  cursor: inherit;
  border: none;
  background-color: rgb(255, 255, 255);
  font: 500 12px arial, sans-serif;
  z-index: 80;
  user-select: none;
}

.map-container .leaflet-popup-content-wrapper .leaflet-popup-content {
  margin: 0;
  padding: 3px 10px;
}

.map-container .leaflet-popup-close-button {
  display: none;
}

.map-container .leaflet-popup-content p {
  margin: 8px 0;
  font-weight: 600;
  line-height: 1.5;
}

.map-en-direct-shown-label-container {
  margin: 2px;
}

.plugin-en-tooltip {
  padding: 3px 10px;
  font-size: 12px;
  color: #000000;
  font-weight: 500;
}

.plugin-en-tooltip::before {
  display: none;
}

.plugin-en-tooltip .single-select-formatter {
  color: #ffffff;
  display: inline-block;
  padding: 3px 10px;
  border-radius: 14px;
  line-height: 14px;
}

.plugin-map-dialog-en .null-option-name {
  color: rgba(0, 0, 0, .25) !important;
}

.plugin-map-dialog-en .address-type-container {
  display: flex;
  height: 36px;
  flex-direction: row;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.plugin-map-dialog-en .selected-address-type-item {
  box-shadow: 0 0 0 1px #f19645;
  color: #f19645;
  background-color: rgba(229,161,82,.1);
}

.plugin-map-dialog-en .address-type-item {
  flex: 1 1;
  text-align: center;
  line-height: 34px;
  padding: 0 5px;
  cursor: pointer;
  position: relative;
  font-weight: 500;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}

.plugin-map-dialog-en .address-type-item:hover {
  white-space: pre;
  overflow: visible;
}

.plugin-map-dialog-en .address-type-item:first-child {
  border-radius: 4px 0 0 4px;
}

.plugin-map-dialog-en .address-type-item:last-child {
  border-radius: 0 4px 4px 0;
}

.plugin-map-dialog-en .setting-divider {
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 14px;
}
